<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- link CSS -->
        <link rel="stylesheet" href="./styleAltreSezioni.css">
        <!-- link VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- link FONT AWSOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <!-- link FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Nerko+One&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 
        
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Nerko+One&family=Source+Serif+Pro:ital@1&family=Ubuntu:wght@300&display=swap" rel="stylesheet">  -->
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,900&display=swap" rel="stylesheet"> 
        <title>Portfolio</title>
    </head>
    <body>
        <div id="web">
            <header>
                <!-- a sx HEADER-->
                <div class="titolo"> 
                    <img src="./img/logo-sidearea-1-1.png" alt="">
                </div>
                <!-- a dx HEADER-->
                <nav>
                    <ul v-for="sezione in navBarSezioni">
                        <li>
                            <a :href="`${sezione.url} `" class="linkStile upperCase sonoQui">{{sezione.nome}}</a>
                        </li>
                        <!-- <li><a href="#" class="linkStile upperCase">pages</a></li>
                        <li><a href="#" class="linkStile upperCase">portfolio</a></li>
                        <li><a href="#" class="linkStile upperCase">blog</a></li>
                        <li><a href="#" class="linkStile upperCase">shop</a></li>
                        <li><a href="#" class="linkStile upperCase">elements</a></li>
                        <li><a href="#" class="linkStile upperCase"><i class="fas fa-th"></i></a></li> -->
                    </ul>
                    <ul v-for="icona in navBarIcone">
                        <li class="dropdown"><a href="#" class="linkStile upperCase"><i :class=" `fas fa-${icona.path}`"></i></a>
                            <div class="dropdown-menu">
                                <a href="#HowWeWork" class="linkStile">How we work</a>
                                <a href="#WorkWithUs" class="linkStile">Work with us</a>
                                <a href="#contactUs" class="linkStile">Contact us</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <div class="container">
                    <div class="box"></div>
                </div>
            </main>
            <footer>
                <div class="container">
                    <div class="footer-box">
                        <img src="./img/logo-sidearea-1-1.png" alt="">
                        <p>Let's Get Creative</p>
                    </div>
                    <div class="footer-box">
                        <ul >
                            <li class="linkStile">{{contattiPersonale.email}} </li>
                            <li class="linkStile">{{contattiPersonale.tel}} </li>
                        </ul>
                    </div>
                    <div class="footer-box">
                       <ul>
                           <li>{{indirizzo.via}} </li>
                           <li>{{indirizzo.citta}} </li>
                       </ul>
                    </div>
                    <div class="footer-box">
                        <div>Stay in touch with us</div>
                        <ul v-for="social in ArraySocial">
                            <li>
                                <a :href=" `${social.link}`" target="_blank" class="linkStile">
                                    <i :class=" `fab fa-${social.url}` "></i>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="" class="linkStile">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="linkStile">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="linkStile">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
           <!-- link jQUery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <!-- link Axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- link JS -->
        <script src="./main.js"></script>
    </body>
</html>