*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: green; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nerko One', cursive;
    font-family: 'Ubuntu', sans-serif;

   
}


/* UTILITIES */
.container{
    padding: 80px;
    width: 1180px;
    margin: 0 auto;
}

.button{
    width: 180px;
    height: 50px;
    background-color: #d8f0e3;
    cursor: pointer;
}



.linkStile{
    text-decoration: none;
    color: black;
}

.upperCase{
    text-transform: uppercase;
}

.testoGrigino{
    color: #757575;
}
.testoCenter{
    text-align: center;
}


/* STILE TOPOGRAFIA */

h1{
    font-size:  60px;
    margin-bottom: 30px;
    font-weight: 100;
}

h1 em{
    font-family: 'Source Serif Pro', serif;
    /* font-weight: 900; */
}

h2{
    font-size: 45px;
    margin-bottom: 30px;
}

h2 em{
    font-family: 'Source Serif Pro', serif;
    /* font-weight: 900; */
}

h3{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.piccolo1{
    font-size: 16px;
    margin-bottom: 20px;
}

.piccolo2{
    font-size: 12px;
    margin-bottom: 20px;
}


/* STILE TOPO/ ARTICOLI */
.articolo-box p{
    font-style: italic;
}


header nav ul li {
    font-weight: bold;
}

/* LAYOUT */
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
    padding-left: 0;
    font-size: 10px;
}

header nav ul li{
   display: inline-block;
   margin-right: 10px;
}



header nav ul li a:last-child {
    margin-right: 30px;
}

header nav ul li a:hover{
    border-bottom: solid 3px #f2d0c7;   
}

header .titolo img{
    width: 200px;
}

/* SEZIONE DEVOTION */

.devotion .container{
    /* background-color: lightblue; */
    width: 100%;
    margin: 0 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.container .freccia{
    flex-grow: 1;
    /* background-color: orange; */
    position: relative;
}

.container .frecciaDx i{
    position: absolute;
    /* left: 133px; */
    /* left: calc(100% -40px); */
    right: 0;
}

.freccia i{
    font-size: 30px;
    position: absolute;
    top: calc(300px /2);
    width: 30px;
    height:30px;
    padding-left: 6px;
    padding-bottom: 3px;
    border-radius: 50%;
    background-color: #f2d0c7;
    color: white;
    cursor: pointer;
}

.freccia i:hover{
    width: 32px;
    height: 32px;
    font-size: 35px;
}

.devotion .container .titolo{
    flex-basis: 500px;
}



.devotion .container .skate-img{
    /* background-color: #c0e1cf; */
}

/* DEVOTION/ TITOLO */

.devotion .container .titolo button{
    margin-top: 20px;
    border: solid 3px #f2d0c7;
    background-color: white;
}

/* DEVOTION/SKATE-IMG */
.devotion .container .skate-img img{
    width: 250px;
}




/* SEZIONE BOXES */
.boxes .box-riga{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    padding: 0;
}

.boxes .box-riga .box{
    /* background-color: orange; */
    /* border: solid 2px black; */
    width: calc(100% / 3);
    
    
    
}

.boxes .box-riga .box img{
    background-size: cover;
    width: 100%;
}

.box-riga:last-child {
    position: relative;
    top: -5px;
}

/* SEZIONE WORKING */

.working-fasi{
    display: flex;
    /* background-color: lightblue; */
    margin-top: 70px;
}

.working-fasi .fase{
    /* border: solid 1px black; */
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

.icona-working i{
    background-color: #faf7f1;
    width: 120px;
    height: 120px;
    /* padding: 30px; */
    padding-left: 5px;
    padding-top: 35px;
    margin-bottom: 30px;
    border-radius: 100%;
    font-size: 40px;
}

.col1 .icona-working i{
    /* padding-left: 45px; */
    color: #badac9;
}

.col2 .icona-working i{
    color: #f8d12f;
}

.col3 .icona-working i{
    /* padding-left: 35px; */
    color: #80465f;
}

.col4 .icona-working i{
    color: #eb6950;
}

.fase h4{
    margin-bottom: 10px;
}


/* SEZIONE WORK-WITH-US */
.work-with-us{
    background-color: #faf7f2;
}

.work-with-us .container button{
    border: none;
    margin-top: 10px;
}

.work-with-us .container button:hover{
    background-color: #f2d0c7;
}

.work-with-us .container button:hover a{
    color: white;
}



/* SEZIONE ARTICOLI */
.articoli .container{
    /* background-color: orange; */
    display: flex;
}

.articoli .articolo-box{
    flex-basis: calc(100% / 3);
    /* background-color: lightblue; */
    /* border: solid 1px black; */
    padding: 15px;
}

.articoli .articolo-box .img{
    /* background-color: grey; */
    
}

.articolo-box img{
    width: 100%;
   
}



/* FOOTER */

footer{
    background-color: #c0e1cf;
}
footer .container{
    display: flex;
    justify-content: space-between;
    /* background-color: orange; */
    padding: 40px;
    padding-left: 0;
    font-size: 12px;
}


footer .container ul{
    list-style-type: none;
   
}
footer .container ul li {
    margin-bottom: 10px;
}


footer .container .footer-box:last-child ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 17px;
    
}

footer .container .footer-box:nth-child(1) img{
    width: 190px;
    margin-left: 40px;
    margin-bottom: 10px;
}

footer .container .footer-box:nth-child(1) p{
    margin-left: 90px;
}