*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: green; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nerko One', cursive;
    font-family: 'Ubuntu', sans-serif;

   
}


/* UTILITIES */
.container{
    padding: 80px;
    width: 1180px;
    margin: 0 auto;
}

.linkStile{
    text-decoration: none;
    color: black;
}

.upperCase{
    text-transform: uppercase;
}

.testoGrigino{
    color: #757575;
}
.testoCenter{
    text-align: center;
}


/* STILE TOPOGRAFIA */

h1{
    font-size:  60px;
}

h2{
    font-size: 45px;
}

.piccolo1{
    font-size: 16px;
}

.piccolo2{
    font-size: 12px;
}



/* LAYOUT */
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
    padding-left: 0;
    font-size: 10px;
}

header nav ul li{
   display: inline-block;
   margin-right: 10px;
}



header nav ul li a:last-child {
    margin-right: 30px;
    
}

header .titolo img{
    width: 200px;
}

/* SEZIONE DEVOTION */

.devotion{
    background-color: grey;
    
}

.devotion .container{
    background-color: lightblue;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.devotion .container .titolo{
    flex-basis: 500px;
}



.devotion .container .skate-img{
    background-color: #c0e1cf;
}

/* DEVOTION/ TITOLO */
.devotion .container .titolo p{
    margin-top: 20px;
}

.devotion .container .titolo button{
    width: 200px;
    height: 60px;
    margin-top: 50px;
    border: solid 3px #f2d0c7;
}

/* DEVOTION/SKATE-IMG */
.devotion .container .skate-img img{
    width: 250px;
}




/* SEZIONE BOXES */
.boxes .box-riga{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    padding: 0;
}

.boxes .box-riga .box{
    /* background-color: orange; */
    /* border: solid 2px black; */
    width: calc(100% / 3);
    
    
    
}

.boxes .box-riga .box img{
    background-size: cover;
    width: 100%;
}

.box-riga:last-child {
    position: relative;
    top: -5px;
}

/* SEZIONE WORKING */

.working-fasi{
    display: flex;
    /* background-color: lightblue; */
    margin-top: 70px;
}

.working-fasi .fase{
    /* border: solid 1px black; */
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

.icona-working i{
    background-color: #faf7f1;
    width: 120px;
    height: 120px;
    /* padding: 30px; */
    padding-left: 5px;
    padding-top: 35px;
    margin-bottom: 30px;
    border-radius: 100%;
    font-size: 40px;
}

.col1 .icona-working i{
    /* padding-left: 45px; */
    color: #badac9;
}

.col2 .icona-working i{
    color: #f8d12f;
}

.col3 .icona-working i{
    /* padding-left: 35px; */
    color: #80465f;
}

.col4 .icona-working i{
    color: #eb6950;
}

.fase h4{
    margin-bottom: 10px;
}
